@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Escala de Cores
#c5ebd6
#83e1ad
#3ddc84
#2faa866
#063d1e
*/

:root{
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-roboto: 'Roboto', sans-serif;
--fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
    margin: auto;    
}

header{
    background-color: var(--cor4);
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
}

header p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

main{
    background-color: white;
    min-width: 300px;/*a partid de...ele se adapta*/
    max-width: 1000px;/*com...ele para de crescer*/
    margin: auto; /*para centralizar automaticamente*/
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;

}

footer{
    background-color: var(--cor5);
    color: white;
}