@charset "UTF-8";

/*
    em HTML é id / em CSS é #
    em HTML é class / em CSS é .
*/

body{
    background-color: rgb(240, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1{
    color: rgb(71, 88, 238);
    
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 17, 133);
    color: white;
}

h2{
    color: rgb(3, 68, 3);
}

.basico{
    color: rgb(35, 170, 1);
    text-align: center;
    font-weight: 800;
}

.intermediario{
    color: rgb(189, 170, 3);
    text-align: center;
    font-weight: 800;
}

.avancado{
    color: rgb(253, 86, 86);
    text-align: center;
    font-weight: 800;
}

.destaque{
    font-weight: 800;
    color: rgb(255, 4, 213);
    background-color: blue;
}